@forward "pkg:govuk-frontend" with (
  $govuk-assets-path: "/public/assets/",
  $govuk-new-organisation-colours: true,
  $govuk-global-styles: true,
  $govuk-font-family: ("Roboto", "Arial", sans-serif),
  $govuk-brand-colour: #00a33b
);
