name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  security-scan:
    name: Security Scanning
    uses: ./.github/workflows/scan.yml
    secrets: inherit

  pr-validator:
    name: Run Pull Request Checks
    needs: security-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Test Docker Image Build
        run: |
          set +e
          docker build --no-cache --tag ai-uc-rag-evaluation-ui .
          exit $?
